<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Your app debug logs -->
    <logger name="example.micronaut" level="DEBUG" />

    <!-- Micronaut Security debug logs -->
    <logger name="io.micronaut.security" level="DEBUG" />

</configuration>
